<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Web技術入門シリーズ課題</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("SELECT * FROM crops WHERE give_for != '自家消費' AND quality = 'FALSE';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "譲渡先：#{record["give_for"]}　品質：#{record["quality"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないものと品質が悪いものの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
